* {
  margin: 0;
  padding: 0;
}

.wrapper {
  border: 5px solid #3399FF;
  display: grid;
  grid-gap:none;
  background-color: white;
  max-width: 960px;
  margin: auto;
}

.wrapper-item {
  border: 5px solid #3399FF;
}

.header {
  grid-column: 1/3;
  grid-row: 1/2;
}

.nav {
  grid-column: 1/3;
  grid-row: 2/3;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 3/6;
  padding: 10px;
}

.contact {
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 10px;
}

.education {
  grid-column: 2/3;
  grid-row: 4/5;
  padding: 10px;
}


.work experience {
  grid-column: 1/2;
  grid-row: 6/8;
  padding: 10px;
}

. additional skills {
  grid-column: 2/3;
  grid-row: 6/7;
  padding: 10px;
}


.footer {
  grid-column: 1/3;
  grid-row: 8/9;
}

nav ul{
  background-color: #FFFFFF;
  list-style-type: none;
  overflow: hidden;
  font-family: 'Roboto Slab', sans-serif;
  border: 4px solid white;
}

nav li a {
  display: inline;
  text-decoration: none;
  color: white;
  padding: 12px 14px;
  text-align: center;
  float: left;
}

nav li a:hover {
  background-color: #A2F8FF;
}

li {
  font-family: 'Dosis', sans-serif;
  list-style-type: none;
}

ul a:hover {
  background-color: #FFFFFF;
}

ul a:visited {
  background-color: #A6C4C7;
  color: gray;
}

ul a:active {
  background-color: #29A3AD;
}

ul a {
  color: black;
  text-decoration: none;
}

h1 {
  background-color: #FFFFFF;
  color: white;
  text-align: center;
  font-family: 'Dosis', cursive;
  font-size: 50px;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  color: #3D2B52;
  text-decoration: underline;
}

h3 {
  font-family: 'Roboto Slab', sans-serif;
}

h4 {
  font-family: 'Roboto Slab', sans-serif;
}

h6 {
  background-color: #FFFFFF;
  color: white;
  text-align: center;
  font-family: 'Dosis', cursive;
  font-size: 20px;
}

.caption {
  display: block;
  font-family: 'Dosis', sans-serif;
  font-size: 10px;
  color: #FFFFFF;
  text-align: center;
}

img {
  border: 10px solid #FFFFFF;
  max-width: 100%;
  max-height: 100%;
  position: static;
}

.center {
  display: block;
  margin: 20px auto auto;
}

p {
  font-family: 'PT Sans', sans-serif;
}
